<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607539426394-ma7n47m377qaiu07ck5gatgjjm58qd5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607539426394-ma7n47m377qaiu07ck5gatgjjm58qd5m</string>
	<key>API_KEY</key>
	<string>AIzaSyDKRJezLs4VPvXc7WQYfL5Cd73NH47Zv14</string>
	<key>GCM_SENDER_ID</key>
	<string>607539426394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.planningpokeropen.kdata.planningPokerOpen</string>
	<key>PROJECT_ID</key>
	<string>planning-poker-open</string>
	<key>STORAGE_BUCKET</key>
	<string>planning-poker-open.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607539426394:ios:17135455e9f80ae004d463</string>
</dict>
</plist>